@model IEnumerable<TaapApp.Models.MasterTypes>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<meta name="form" content="@ViewBag.MetaForm" />

<link rel="stylesheet" href="~/css/card-header-box.css" />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="h2 text-muted mb-3">
                    <i class="icon-settings icons"></i> &nbsp; List Type
                </div>

                <hr class="mt-0">

                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <p>
                                <a asp-action="Create">
                                    <i class="icon-plus icons font-2xl" style="position: relative; top: 5px;"></i>&nbsp; Create New
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <form id="search" method="get" asp-action="Search">
                                <div class="row">
                                    <label class="col-md-3 col-sm-12 col-form-label" for="">Type :</label>
                                    <div class="col-lg-6 col-md-7 col-sm-12 form-group">
                                        <input type="search" name="key" id="key" class="form-control form-control-sm"
                                               placeholder="Search" />
                                        <span for="role" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12"></div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                        <button id="btn-search" type="submit" class="btn btn-info btn-sm form-control">
                                            <i class="icon-magnifier"></i>
                                            Search
                                        </button>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                        <button class="btn btn-danger btn-sm form-control" type="reset">
                                            <i class="icon-refresh"></i>
                                            Resert
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<div style="overflow-y:auto; max-height: 400px;">
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeName)
                    </td>
                    <td>
                        @if (item.Status)
                        {
                            <i class="fa fa-check text-success"></i>
                        }
                        else
                        {
                            <i class="fa fa-close text-danger"></i>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TypeId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.TypeId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
