@model TaapApp.Models.ReceiveReference

@{
    ViewData["Title"] = "Receive Reference | Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="form" content="@ViewBag.MetaForm" />

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Receive Reference</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReceiveNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceiveNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommissionNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommissionNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vdono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vdono)
        </dd>
        <dt>
            TF No.
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferenceNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModelType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LotNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LotNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductionNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductionNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaintTrim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaintTrim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChassisNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChassisNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EngineNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EngineNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Vdoid" />
        <button type="submit" class="btn btn-danger" data-permission="deleter">
            <i class="fa fa-trash-o"></i> Delete
        </button> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
